.card {
  background-color: #f3f4f7;
  box-shadow: #d5d6dc;
  display: flex;
  margin: 10px;
  height: 275px;
}

.card:hover {
  box-shadow: #aeaeae;
}

.card .pokemon-img {
  margin: 10px;
}

.card .detail {
  margin: 10px;
  width: 100%;
}

.card .detail .pokemon-name {
  font-family: 'Gaegu';
  font-size: 36px;
  margin: 10px 0;
}

.card .detail .cute-img {
  margin: 3px;
}

.card .action-button {
  color: #dc7777;
  font-size: 24px;
  margin: 10px;
  cursor: pointer;
  height: 20px;
}
